//! **************************************************************************
// Written by: Map P.68d on Thu Nov 30 21:14:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk_100mhz" LOCATE = SITE "V10" LEVEL 1;
COMP "vgablue<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgablue<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "btn_enter" LOCATE = SITE "B8" LEVEL 1;
COMP "btn_right" LOCATE = SITE "D9" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "vgagreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgagreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgagreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "vgared<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgared<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgared<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "btn_left" LOCATE = SITE "C4" LEVEL 1;
COMP "btn_down" LOCATE = SITE "C9" LEVEL 1;
COMP "btn_up" LOCATE = SITE "A8" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

